
<footer class="text-center">
    <section  >
        <div class="footer " >
          <p> <strong>ADRESSE</strong><br>
          Tunis, Charguia, 2 Rue Des Entrepreneur <br>
          <strong>TELEPHONE</strong><br>
          +216 26 717 371<br>
          <strong>EMAIL</strong><br>
          farah'slibrary@gmail.com   <br>
            <a href="https://www.facebook.com" class="btn"><img src="assets/Images/facebook.png" class="facebook" /></a>
            <a href="https://www.instagram.com" class="btn"><img src="assets/Images/instagram.png" class="insta" /></a>
          </p>   
      </div>
    </section>
  </footer>
  