<app-menu></app-menu>
<div class="about-section">
    <div class="inner-container">
        <h1>Qui sommes-nous</h1>
        <p class="text">
            Née de la rencontre entre une équipe d’entrepreneurs et la librairie Arthaud de Grenoble, farah's library est une librairie en ligne internationale qui propose aux lecteurs du monde entier plus d'un million de livres en français avec la livraison GRATUITE  et les conseils de libraires professionnels.        </p>
        <div class="skills">
            <span>Plus de 10 livres disponible</span>
            <span>Achat de livres</span>
            <span>Livraison gratuite</span>
        </div>
    </div>
</div>


<app-footer></app-footer>
